.hero {
    color: white;
    background-size: cover;
    height: 30%;
    max-height: 650px;
    min-height: 300px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heroHome {
    background-image: url("../../assets/images/heroSpace.png");
}

.heroSolarSystem {
    background-image: url("../../assets/images/solar-system-hero.jpeg");
}

.hero h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    font-family: "Tilt Warp";
    opacity: 80%;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    opacity: 80%;
}

.arrowCircle {
    aspect-ratio: 1/1;
    width: 20%;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    max-width: 115px;
    cursor: pointer;
}

.innerCircle {
    box-sizing: content-box;
    aspect-ratio: 1/1;
    width: 85%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    transition: 400ms;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: url("../../assets/images/moon.jpg");
    background-size: cover;
}

.innerCircle:hover {
    border-left: 3px solid rgb(32, 12, 255);
    border-right: 3px solid rgb(32, 12, 255);
    
    /* background: linear-gradient(to bottom, rgb(82, 82, 236), rgb(199, 195, 219), rgb(246, 246, 250), white); */
}




@media screen and (min-width: 550px) {
    
    .arrowCircle {
        width: 17%;
        bottom: -58px;
    }

    .hero {
        min-height: 350px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 769px) {
    
    .arrowCircle {
        width: 14%;
        bottom: -68px;
    }

    .hero {
        min-height: 400px;
    }

    .hero h1 {
        font-size: 3rem;
    }

   

    
}

@media screen and (min-width: 1025px) {

    .hero {
        min-height: 550px;
    }

    .hero h1 {
        font-size: 4rem;
    }
}