.planetOverview {
    width: 45%;
    border: 2px solid rgb(71, 61, 38);
    background-color: white;
    border-radius: 3px;
    margin: 2%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}

.planetOverview:hover {
    border: 2px solid rgb(255, 255, 255);
}

.planetInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

.planetInfo img {
    width: 100%;
    display: block;
    margin: auto;
}

.planetInfo p {
    width: 90%;
    padding: 10px 0;
    margin: auto;
    border-bottom: 1px solid rgb(71, 61, 38);
}

.planetOverview h2 {
    opacity: 1;
    background-color: rgb(37, 60, 93);
    color: rgb(210, 217, 239);
    margin: 0 0 -20px 0;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    font-family: "tilt warp";
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    
   .planetOverview {
        width: 90%;
        margin: 25px;
   }

}