.planet {
    font-size: 0.9rem;
    padding: 24px;
}

.planet h2 {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Tilt Warp";
}

.planetInfo {

}

.mercury {

}

.venus {

}

.earth {

}

.mars {

}

.jupiter {

}

.saturn {

}

.uranus {

}

.neptune {

}

.pluto {

}