.footer {
    background-color: rgb(19, 18, 18);
    padding: 16px;
}

.footerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerInfo1,
.footerInfo2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}