.footer {
    background-color: rgb(19, 18, 18);
    padding: 22px;
    color: white;
}

.footerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerInfo1,
.footerInfo2 {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(148, 148, 234);
}

a:visited {
    color: rgb(148, 148, 234);
}

a:hover {
    color: rgb(213, 213, 234);
}