.solarSystem {
     flex-grow: 1;
}

.solarSystemContainer {
    padding: 60px 40px;
    background-color: white;
    color: black;
    text-align: center;
   
    display: flex;
    flex-direction: column;
}

.solarSystemContainer2 {
    background-color: white;
    color: black;
    padding: 15px 40px;
    text-align: center;
}

.solarSystem h2 {
    padding-bottom: 20px;
    border-bottom: solid rgb(114, 60, 27);
}

span {
    font-weight: bold;
}

.solarSystem p {
    padding-bottom: 20px;
    border-bottom: solid rgb(114, 60, 27);
    
}

.solarSystemImage {
    width: 100%;
}

@media screen and (min-width: 769px) {
    
    .solarSystemContainer {
        flex-direction:row
    }
}