.solarSystem {
     flex-grow: 1;
     padding-bottom: 30px;
     text-align: center;
}

.solarSystemContainer {
    padding: 60px 40px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.solarSystemContainer2 {
    background-color: white;
    color: black;
    padding: 15px 40px;
    text-align: center;
}

.solarSystem h2 {
    padding-bottom: 20px;
    border-bottom: solid rgb(114, 60, 27);
}

span {
    font-weight: bold;
}

.solarSystem p {
    padding-bottom: 20px;
    border-bottom: solid rgb(114, 60, 27);
}

.solarSystemImage {
    width: 100%;
}

.planetVideo {
    text-align: center;
    width: 100%;
}

.planetVideo iframe {
    width: 94%;
    margin: 3%;
    aspect-ratio: 8/5;
    max-width: 900px;
}

@media screen and (min-width: 769px) {
    
    .solarSystemContainer {
        flex-direction:row
    }

}