.nav {
    height: 60px;
    width: 100%;
    font-family: "Tilt Warp";
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    /* position: relative; */
}



.nav img {
    height: 70%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
    height: 40px;
    cursor: pointer;
}

.menu img,
.menu h3 {
    margin: 5px;
}

.nasaLogo {
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .menu h3 {
        display: none;
    }
    
}