.arrowCircle {
    aspect-ratio: 1/1;
    width: 20%;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    max-width: 115px;
    cursor: pointer;
    z-index: 10;
}

.innerCircle {
    box-sizing: content-box;
    aspect-ratio: 1/1;
    width: 85%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    transition: 400ms;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: url("../../assets/images/moon.jpg");
    background-size: cover;
}

.spaceship {
    rotate: 45deg;
    align-self: flex-start;
    justify-self: start;
    margin: -30px;
}

.arrowCircle img {
    position: absolute;
    z-index: 10;
}

.innerCircle:hover {
    border-left: 3px solid rgb(32, 12, 255);
    border-right: 3px solid rgb(32, 12, 255);
}

@media screen and (min-width: 550px) {
    
    .arrowCircle {
        width: 17%;
        bottom: -58px;
    }

}

@media screen and (min-width: 769px) {
    
    .arrowCircle {
        width: 14%;
        bottom: -68px;
    }

}
